h1, h2 {
    text-align: center;
  }

/* footer */
.footer-style {
    text-decoration: none; 
    color:black 
}

/* navigation bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #b22401;
  display: flex;
  justify-content: right;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  font-size: 1.5em;
  text-decoration: none;
}

ul li a:hover {
  background-color: #e36f52;
  text-decoration: none;
}
  /* background image for all pages  */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("../images/welcome.jpg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.4;
  }

/*  container used for layout */ 
.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: black;
    overflow: hidden;
  }
/* loging page */
.login-form input {
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
  } 
   
.login-button {
    width: 80%;
    padding: 15px;
    background-color: #b22401;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .login-button:hover {
    background-color: #b22401;
  } 

  .error-message {
    color: #d32f2f;
    margin-bottom: 15px;
    font-weight: bold;
  } 
/* buttons on success page, logout out page */
 .back-home-btn, .welcome-button {
    width: 20%;  
    padding: 15px;
    background-color: #b22401;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
 } 
  
/* recipe list page */
.list-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px; 
} 

.recipe-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px; 
}

.recipe-card {
  width: 250px;
  background-color: #f2f2f2;
  /* background-color: rgba(255, 255, 255, 0.8); */
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  padding: 15px;
  }
  
.recipe-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.recipe-description {
  font-weight: bold;
  text-align: center;
  margin-right: 0.5rem;
  
}
  /*recipe detail page  */
.detail-image {
    display: block;
    border-radius: 8px;
    margin:  auto;
    width: 500px;
    height: 500px;
    object-fit: cover;    
  }

.recipe-header {
    background-color: rgba(255, 255, 255, 0.8); /* optional for contrast */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.recipe-detail-container {
    width: 50%; 
    margin: 20px auto; /* centers the container horizontally */
    text-align: left; /* aligns text inside to the left */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* optional for contrast */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  
  }
/* recipe search page */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

a {
    color: #2200ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  
}

.form-group {
  width: 100%;
  max-width: 100%;
}

.add-recipe-form, 
.search-recipe-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.add-recipe-label {
  display: block;
}

.add-recipe-form input, 
.search-recipe-form input, 
.add-recipe-form textarea,
.search-recipe-form textarea,
.add-recipe-form select,
.search-recipe-form select {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
} 
 
  
  
  