{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
    <title>Login</title>
</head>


<body>
    <div class="background-image"></div>

    <div class="main-content">
        <h1>Welcome Back!</h1>

        {% if error_message %}
        <div class="error-message">{{error_message}}</div>
        {% endif %}

        <form action="" method="POST" class="login-form">
            {% csrf_token %}
           
            <div class="form-group">
                <label for="">Username</label>
                {{ form.username }}
                {{ form.username.errors }}
              </div>
            
              <div class="form-group">
                <label for="">Password</label>
                {{ form.password }}
                {{ form.password.errors }}
              </div>

            <button type="submit" class="login-button">Log In</button>
        </form>
    </div>

    <footer>
        <div>Photo by <a
                href="https://unsplash.com/@eduardo_cg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Eduardo
                Casajús Gorostiaga</a> on <a
                href="https://unsplash.com/photos/orange-fruits-on-brown-wooden-basket-1zyf0dfFqSk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
            </a></div>
    </footer>
</body>

</html>