{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Details</title>
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
</head>

<body>
    <div class="background-image"></div>
    <ul>
        <li><a href="{% url 'recipes:list' %}">Recipes</a></li>
        <li><a href="{% url 'recipes:search' %}">Search</a></li>
        <li><a href ="{%url 'recipes:add-recipe' %}">Add Recipe</a></li> 
        <li><a href ="{%url 'logout' %}">Logout</a></li>
    </ul>
    <div class="page-wrapper">
<main class="recipe-detail-content">
    <div><h2>{{object.name}}</h2></div>

        <img src="{{object.recipe_image.url}}" class="detail-image" />
    
    <div class="recipe-detail-container">
        
        <div><b>Description: </b> {{object.recipe_description}}</div> 

        <div><b>Ingredients: </b> {{object.ingredients}}</div> 

        <div><b>Cooking Time: </b> {{object.cooking_time}} </div>

        <div><b>Difficulty: </b> {{object.difficulty}}</div>

    </div>
</main>
    <footer class="site-footer">
        <div>Photo by <a
            href="https://unsplash.com/@eduardo_cg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            class="footer-style">Eduardo
            Casajús Gorostiaga</a> on <a
            href="https://unsplash.com/photos/orange-fruits-on-brown-wooden-basket-1zyf0dfFqSk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
            class="footer-style">Unsplash</a>
          </a></div>
      </footer>
    </div>
</body>

</html>