{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Recipe Search</title>
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
</head>

<body>
    <div class="background-image"></div>
    <ul>
        <li><a href="{% url 'recipes:list' %}">Recipes</a></li>
        <li><a href="{% url 'recipes:search' %}">Search</a></li>
        <li><a href="{%url 'recipes:add-recipe' %}">Add Recipe</a></li>
        <li><a href="{%url 'logout' %}">Logout</a></li>
    </ul>
    <div class="page-wrapper">
        <main class="search-recipe-content">
            <h1>Search</h1>
            <div class="form-wrapper">
                <form action="" method="POST" class="search-recipe-form">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">search</button>
                </form>
            </div>

            <div class="main-content">
                <div class="chart-data">
                    {% if recipes %}
                    <h2>Search Results</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Ingredients</th>
                                <th>Cooking Time</th>
                                <th>Difficulty</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for recipe in recipes %}
                            <tr>
                                <td><a href="{% url 'recipes:detail' recipe.id %}">
                                        {{ recipe.name }}</a>
                                </td>
                                <td>{{ recipe.ingredients }}</td>
                                <td>{{ recipe.cooking_time }} mins</td>
                                <td>{{ recipe.difficulty }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}

                    {% if chart %}
                    <h2>Chart Visualization</h2>
                    <img src="data:image/png;base64, {{chart|safe}}" alt="" class="chart-img">
                    {% endif %}
                </div>
            </div>
        </main>
        <footer class="site-footer">
            <div>Photo by <a
                    href="https://unsplash.com/@eduardo_cg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    class="footer-style">Eduardo
                    Casajús Gorostiaga</a> on <a
                    href="https://unsplash.com/photos/orange-fruits-on-brown-wooden-basket-1zyf0dfFqSk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"
                    class="footer-style">Unsplash</a>
                </a></div>
        </footer>
    </div>

</body>

</html>